.message {
  .agent-message {
    .container {
      .item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        flex-direction: row;
        gap: 5px;
        word-break: break-all;
        .icon {
          width: 15px;
          height: 15px;
          min-width: 15px;
          min-height: 15px;
        }
        .line {
          min-width: 45px;
        }
        .error-line {
          display: flex;
          gap: 3px;
          align-items: center;
          width: 100%;
        }

        .done-icon {
          color: var(--vscode-chat-linesAddedForeground);
        }
        .cancel-icon {
          color: var(--vscode-chat-linesRemovedForeground);
        }
      }
      .error {
        flex-direction: column;
        align-items: flex-start;
        .error-file-line {
          display: flex;
          align-items: center;
          gap: 5px;
          svg {
            width: 15px;
            height: 15px;
            color: va(--vscode-activityErrorBadge-background);
          }
        }
      }
      .command-line {
        min-height: 20px;
        display: flex;
        align-items: center;
        justify-self: flex-start;
        border: 1px solid var(--vscode-chat-requestBorder);
        padding: 0 5px;
        border-radius: 5px;
        .command-control {
          display: flex;
          gap: 5px;
          margin-left: 5px;
          button {
            width: 15px;
            padding: 0;
          }
          .confirm {
            color: var(--vscode-chat-linesAddedForeground);
          }
          .decline {
            color: var(--vscode-chat-linesRemovedForeground);
          }
        }
      }
      .prefix {
        width: auto;
        min-width: 45px;
      }
      .result-prefix {
        color: var(--vscode-chat-linesAddedForeground);
      }
      .command-error {
        display: flex;
        gap: 5px;
        align-items: center;
      }
    }
    .command {
      .result {
        overflow-wrap: break-word;
      }
    }
  }
}
