**/*
!node_modules/@xenova/**
!node_modules/onnxruntime-node/**
!node_modules/@lancedb/lancedb-darwin-arm64/**
!node_modules/llamaindex/**
!out
!package.json
!yarn.lock
!media/*
!LICENSE.md
!README.md