**/*
!out
!package.json
!yarn.lock
!media/*
!LICENSE.md
!README.md
!node_modules/@lancedb/lancedb-darwin-arm64/**

!node_modules/@xenova/transformers/**
!node_modules/onnxruntime-web/**
!node_modules/flatbuffers/**
!node_modules/guid-typescript/**
!node_modules/long/**
!node_modules/onnx-proto/**
!node_modules/protobufjs/**
!node_modules/@protobufjs/aspromise/**
!node_modules/@protobufjs/base64/**
!node_modules/@protobufjs/codegen/**
!node_modules/@protobufjs/eventemitter/**
!node_modules/@protobufjs/fetch/**
!node_modules/@protobufjs/aspromise/**
!node_modules/@protobufjs/inquire/**
!node_modules/@protobufjs/float/**
!node_modules/@protobufjs/inquire/**
!node_modules/@protobufjs/path/**
!node_modules/@protobufjs/pool/**
!node_modules/@protobufjs/utf8/**
!node_modules/@types/long/**
!node_modules/@types/node/**
!node_modules/undici-types/**
!node_modules/long/**
!node_modules/onnxruntime-common/**
!node_modules/platform/**
!node_modules/sharp/**
!node_modules/color/**
!node_modules/color-convert/**
!node_modules/color-name/**
!node_modules/color-string/**
!node_modules/color-name/**
!node_modules/simple-swizzle/**
!node_modules/is-arrayish/**
!node_modules/detect-libc/**
!node_modules/node-addon-api/**
!node_modules/prebuild-install/**
!node_modules/detect-libc/**
!node_modules/expand-template/**
!node_modules/github-from-package/**
!node_modules/minimist/**
!node_modules/mkdirp-classic/**
!node_modules/napi-build-utils/**
!node_modules/node-abi/**
!node_modules/semver/**
!node_modules/pump/**
!node_modules/end-of-stream/**
!node_modules/once/**
!node_modules/wrappy/**
!node_modules/once/**
!node_modules/wrappy/**
!node_modules/rc/**
!node_modules/deep-extend/**
!node_modules/ini/**
!node_modules/minimist/**
!node_modules/strip-json-comments/**
!node_modules/simple-get/**
!node_modules/decompress-response/**
!node_modules/mimic-response/**
!node_modules/once/**
!node_modules/wrappy/**
!node_modules/simple-concat/**
!node_modules/tar-fs/**
!node_modules/pump/**
!node_modules/end-of-stream/**
!node_modules/once/**
!node_modules/wrappy/**
!node_modules/once/**
!node_modules/wrappy/**
!node_modules/tar-stream/**
!node_modules/b4a/**
!node_modules/fast-fifo/**
!node_modules/streamx/**
!node_modules/events-universal/**
!node_modules/bare-events/**
!node_modules/fast-fifo/**
!node_modules/text-decoder/**
!node_modules/b4a/**
!node_modules/tunnel-agent/**
!node_modules/safe-buffer/**
!node_modules/semver/**
!node_modules/simple-get/**
!node_modules/decompress-response/**
!node_modules/mimic-response/**
!node_modules/once/**
!node_modules/wrappy/**
!node_modules/simple-concat/**
!node_modules/tar-fs/**
!node_modules/pump/**
!node_modules/end-of-stream/**
!node_modules/once/**
!node_modules/wrappy/**
!node_modules/once/**
!node_modules/wrappy/**
!node_modules/tar-stream/**
!node_modules/b4a/**
!node_modules/fast-fifo/**
!node_modules/streamx/**
!node_modules/events-universal/**
!node_modules/bare-events/**
!node_modules/fast-fifo/**
!node_modules/text-decoder/**
!node_modules/b4a/**
!node_modules/tunnel-agent/**
!node_modules/safe-buffer/**
!node_modules/@huggingface/jinja/**
!node_modules/onnxruntime-node/**
!node_modules/adm-zip/**
!node_modules/global-agent/**
!node_modules/boolean/**
!node_modules/es6-error/**
!node_modules/matcher/**
!node_modules/escape-string-regexp/**
!node_modules/roarr/**
!node_modules/boolean/**
!node_modules/detect-node/**
!node_modules/globalthis/**
!node_modules/define-properties/**
!node_modules/define-data-property/**
!node_modules/es-define-property/**
!node_modules/es-errors/**
!node_modules/gopd/**
!node_modules/has-property-descriptors/**
!node_modules/es-define-property/**
!node_modules/object-keys/**
!node_modules/gopd/**
!node_modules/json-stringify-safe/**
!node_modules/semver-compare/**
!node_modules/sprintf-js/**
!node_modules/semver/**
!node_modules/serialize-error/**
!node_modules/type-fest/**
!node_modules/onnxruntime-common/**
!node_modules/@xenova/transformers/**
!node_modules/onnxruntime-web/**
!node_modules/flatbuffers/**
!node_modules/guid-typescript/**
!node_modules/long/**
!node_modules/onnx-proto/**
!node_modules/protobufjs/**
!node_modules/@protobufjs/aspromise/**
!node_modules/@protobufjs/base64/**
!node_modules/@protobufjs/codegen/**
!node_modules/@protobufjs/eventemitter/**
!node_modules/@protobufjs/fetch/**
!node_modules/@protobufjs/aspromise/**
!node_modules/@protobufjs/inquire/**
!node_modules/@protobufjs/float/**
!node_modules/@protobufjs/inquire/**
!node_modules/@protobufjs/path/**
!node_modules/@protobufjs/pool/**
!node_modules/@protobufjs/utf8/**
!node_modules/@types/long/**
!node_modules/@types/node/**
!node_modules/undici-types/**
!node_modules/long/**
!node_modules/onnxruntime-common/**
!node_modules/platform/**
!node_modules/sharp/**
!node_modules/color/**
!node_modules/color-convert/**
!node_modules/color-name/**
!node_modules/color-string/**
!node_modules/color-name/**
!node_modules/simple-swizzle/**
!node_modules/is-arrayish/**
!node_modules/detect-libc/**
!node_modules/node-addon-api/**
!node_modules/prebuild-install/**
!node_modules/detect-libc/**
!node_modules/expand-template/**
!node_modules/github-from-package/**
!node_modules/minimist/**
!node_modules/mkdirp-classic/**
!node_modules/napi-build-utils/**
!node_modules/node-abi/**
!node_modules/semver/**
!node_modules/pump/**
!node_modules/end-of-stream/**
!node_modules/once/**
!node_modules/wrappy/**
!node_modules/once/**
!node_modules/wrappy/**
!node_modules/rc/**
!node_modules/deep-extend/**
!node_modules/ini/**
!node_modules/minimist/**
!node_modules/strip-json-comments/**
!node_modules/simple-get/**
!node_modules/decompress-response/**
!node_modules/mimic-response/**
!node_modules/once/**
!node_modules/wrappy/**
!node_modules/simple-concat/**
!node_modules/tar-fs/**
!node_modules/pump/**
!node_modules/end-of-stream/**
!node_modules/once/**
!node_modules/wrappy/**
!node_modules/once/**
!node_modules/wrappy/**
!node_modules/tar-stream/**
!node_modules/b4a/**
!node_modules/fast-fifo/**
!node_modules/streamx/**
!node_modules/events-universal/**
!node_modules/bare-events/**
!node_modules/fast-fifo/**
!node_modules/text-decoder/**
!node_modules/b4a/**
!node_modules/tunnel-agent/**
!node_modules/safe-buffer/**
!node_modules/semver/**
!node_modules/simple-get/**
!node_modules/decompress-response/**
!node_modules/mimic-response/**
!node_modules/once/**
!node_modules/wrappy/**
!node_modules/simple-concat/**
!node_modules/tar-fs/**
!node_modules/pump/**
!node_modules/end-of-stream/**
!node_modules/once/**
!node_modules/wrappy/**
!node_modules/once/**
!node_modules/wrappy/**
!node_modules/tar-stream/**
!node_modules/b4a/**
!node_modules/fast-fifo/**
!node_modules/streamx/**
!node_modules/events-universal/**
!node_modules/bare-events/**
!node_modules/fast-fifo/**
!node_modules/text-decoder/**
!node_modules/b4a/**
!node_modules/tunnel-agent/**
!node_modules/safe-buffer/**
!node_modules/@huggingface/jinja/**
!node_modules/llamaindex/**
!node_modules/@types/lodash/**
!node_modules/@types/node/**
!node_modules/undici-types/**
!node_modules/lodash/**
!node_modules/magic-bytes.js/**
!node_modules/@llamaindex/core/**
!node_modules/@finom/zod-to-json-schema/**
!node_modules/@types/node/**
!node_modules/undici-types/**
!node_modules/magic-bytes.js/**
!node_modules/zod/**
!node_modules/@llamaindex/env/**
!node_modules/pathe/**
!node_modules/@aws-crypto/sha256-js/**
!node_modules/@aws-crypto/util/**
!node_modules/@aws-sdk/types/**
!node_modules/@smithy/types/**
!node_modules/tslib/**
!node_modules/tslib/**
!node_modules/@smithy/util-utf8/**
!node_modules/@smithy/util-buffer-from/**
!node_modules/@smithy/is-array-buffer/**
!node_modules/tslib/**
!node_modules/tslib/**
!node_modules/tslib/**
!node_modules/tslib/**
!node_modules/@aws-sdk/types/**
!node_modules/@smithy/types/**
!node_modules/tslib/**
!node_modules/tslib/**
!node_modules/tslib/**
!node_modules/js-tiktoken/**
!node_modules/base64-js/**
!node_modules/@llamaindex/node-parser/**
!node_modules/html-to-text/**
!node_modules/@selderee/plugin-htmlparser2/**
!node_modules/domhandler/**
!node_modules/domelementtype/**
!node_modules/selderee/**
!node_modules/parseley/**
!node_modules/leac/**
!node_modules/peberminta/**
!node_modules/deepmerge/**
!node_modules/dom-serializer/**
!node_modules/domelementtype/**
!node_modules/domhandler/**
!node_modules/domelementtype/**
!node_modules/entities/**
!node_modules/htmlparser2/**
!node_modules/domelementtype/**
!node_modules/domhandler/**
!node_modules/domelementtype/**
!node_modules/domutils/**
!node_modules/dom-serializer/**
!node_modules/domelementtype/**
!node_modules/domhandler/**
!node_modules/domelementtype/**
!node_modules/entities/**
!node_modules/domelementtype/**
!node_modules/domhandler/**
!node_modules/domelementtype/**
!node_modules/entities/**
!node_modules/selderee/**
!node_modules/parseley/**
!node_modules/leac/**
!node_modules/peberminta/**
!node_modules/@llamaindex/workflow/**
!node_modules/@llamaindex/workflow-core/**
!node_modules/@llamaindex/env/**
!node_modules/pathe/**
!node_modules/@aws-crypto/sha256-js/**
!node_modules/@aws-crypto/util/**
!node_modules/@aws-sdk/types/**
!node_modules/@smithy/types/**
!node_modules/tslib/**
!node_modules/tslib/**
!node_modules/@smithy/util-utf8/**
!node_modules/@smithy/util-buffer-from/**
!node_modules/@smithy/is-array-buffer/**
!node_modules/tslib/**
!node_modules/tslib/**
!node_modules/tslib/**
!node_modules/tslib/**
!node_modules/@aws-sdk/types/**
!node_modules/@smithy/types/**
!node_modules/tslib/**
!node_modules/tslib/**
!node_modules/tslib/**
!node_modules/js-tiktoken/**
!node_modules/base64-js/**
