header.header {
  background: transparent;
  height: 30px;
  position: relative;
  margin-bottom: 5px;
  .toolbar {
    padding: 0 5px;
    height: 30px;
    min-height: 0;
    .button-container {
      height: 20px;
      padding: 0;
      color: var(--vscode-icon-foreground);
    }
  }
}
