.chat-section {
  justify-content: flex-end;
  .send-container {
    height: 250px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    .text-field {
      height: 100%;
      width: auto;
      resize: none;
      outline: none;
      background-color: var(--vscode-input-background);
      color: var(--vscode-input-foreground);
      padding: 10px;
      border-radius: 5px;
      font-size: 12px;
      border: none;
      outline: none;
      resize: none;
      box-shadow: none;
      &:hover {
        border: none;
        outline: none;
        box-shadow: none;
      }
      &:hover fieldset {
        border: none;
        outline: none;
        box-shadow: none;
      }
    }
    .navigation {
      height: 30px;
      display: flex;
      justify-content: flex-end;
      .MuiIconButton-root {
        border-radius: 5px;
        color: var(--vscode-input-foreground);
        &:hover {
          background-color: var(--vscode-button-hoverBackground);
        }
      }
    }
    .navigation.top-navigation {
      justify-content: flex-start;
      flex-direction: column;
      justify-content: center;
      height: 80px;
      .buttons {
        padding: 0;
        button {
          padding: 0;
        }
      }
      .sessions {
        display: flex;
        height: 50px;
        gap: 5px;
        width: 100%;
        padding: 0;
        box-sizing: border-box;
        overflow-x: scroll;
        .session {
          flex: 0 1 auto;
          padding: 3px 8px;
          border-radius: 4px;
          white-space: nowrap;
          text-align: center;
          align-items: center;
          display: flex;
          border: 1px solid var(--vscode-tab-activeBackground);
          position: relative;
          button {
            position: absolute;
            width: 10px;
            height: 10px;
            top: 0;
            right: 0;
            padding: 0;
            svg {
              width: 10px;
              height: 10px;
            }
          }
          &.active {
            background: var(--vscode-editor-selectionBackground);
          }
        }
      }
    }
    .navigation.bottom-navigation {
      justify-content: space-between;
    }
  }
  .messages-container {
    height: 300px;
  }
}
