.file-icon {
  height: 15px;
  display: flex;
  align-items: center;
  justify-self: flex-start;
  .name {
    font-size: 10px;
    margin-left: 5px;
    color: var(--vscode-gitDecoration-untrackedResourceForeground);
  }
}
