.file-icon {
  height: 15px;
  display: flex;
  align-items: center;
  justify-self: flex-start;
  border: 1px solid var(--vscode-chat-requestBorder);
  padding: 0 5px;
  border-radius: 5px;
  .name {
    font-size: 10px;
    margin-left: 5px;
  }
  .name.created {
    color: var(--vscode-gitDecoration-untrackedResourceForeground);
  }
  .name.deleted {
    color: var(--vscode-chat-linesRemovedForeground);
  }
  .removed {
    padding-left: 4px;
    font: weight 700px;
    color: var(--vscode-chat-linesRemovedForeground);
  }
  .added {
    padding-left: 4px;
    font: weight 700px;
    color: var(--vscode-chat-linesAddedForeground);
  }
}
.clickable.file-icon {
  cursor: pointer;
}
