html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--vscode-editor-foreground);
  font-family: var(--vscode-editor-font-family);
}

button {
  border: 1px solid var(--vscode-commandCenter-inactiveBorder, #555555);
  background-color: var(--vscode-button-background);
  color: var(--vscode-editor-foreground) #bbbbbb;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: var(--vscode-button-hoverBackground);
}

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 10px;
  height: calc(100vh - 35px);
}
::-webkit-scrollbar {
  width: 8px; /* ширина скроллбара */
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent; /* трек прозрачный */
}

::-webkit-scrollbar-thumb {
  background: rgba(150, 150, 150, 0.5); /* цвет ползунка */
  border-radius: 4px;
}

/* Для Firefox */
* {
  scrollbar-width: thin; /* тонкий скролл */
  scrollbar-color: rgba(150, 150, 150, 0.5) transparent;
}

// --vscode-editor-background
// 	•	--vscode-editor-foreground
// 	•	--vscode-editor-lineHighlightBackground
// 	•	--vscode-editor-selectionBackground
// 	•	--vscode-editor-selectionForeground
// 	•	--vscode-editor-wordHighlightBackground
// 	•	--vscode-editor-wordHighlightStrongBackground
// 	•	--vscode-editor-lineNumberForeground
// 	•	--vscode-editorCursor.foreground
// 	•	--vscode-editorWhitespace.foreground
// 	•	--vscode-editorIndentGuide.background
// 	•	--vscode-editorRuler.foreground
// 	•	--vscode-editorGroupHeader.tabsBackground
// 	•	--vscode-editorGroupHeader.tabsBorder
// 	•	--vscode-editorGroupHeader.border
// 	•	--vscode-tab-activeBackground
// 	•	--vscode-tab-inactiveBackground
// 	•	--vscode-tab-activeForeground
// 	•	--vscode-tab-inactiveForeground
// 	•	--vscode-tab-border
// 	•	--vscode-statusBar.background
// 	•	--vscode-statusBar.foreground
// 	•	--vscode-statusBarItem.hoverBackground
// 	•	--vscode-statusBarItem.activeBackground
// 	•	--vscode-statusBarItem.prominentBackground
// 	•	--vscode-statusBarItem.prominentHoverBackground
// 	•	--vscode-statusBarItem.prominentActiveBackground
// 	•	--vscode-statusBarItem.prominentForeground
// 	•	--vscode-statusBarItem.foreground
// 	•	--vscode-statusBarItem.hoverForeground
// 	•	--vscode-statusBarItem.activeForeground
// 	•	--vscode-statusBarItem.prominentHoverForeground
// 	•	--vscode-statusBarItem.prominentActiveForeground
// 	•	--vscode-statusBarItem.prominentForeground
// 	•	--vscode-statusBarItem.foreground
// 	•	--vscode-statusBarItem.hoverForeground
// 	•	--vscode-statusBarItem.activeForeground
// 	•	--vscode-statusBarItem.prominentHoverForeground
// 	•	--vscode-statusBarItem.prominentActiveForeground
// 	•	--vscode-statusBarItem.prominentForeground
// 	•	--vscode-statusBarItem.foreground
// 	•	--vscode-statusBarItem.hoverForeground
// 	•	--vscode-statusBarItem.activeForeground
// 	•	--vscode-statusBarItem.prominentHoverForeground
// 	•	--vscode-statusBarItem.prominentActiveForeground
// 	•	--vscode-statusBarItem.prominentForeground
// 	•	--vscode-statusBarItem.foreground
// 	•	--vscode-statusBarItem.hoverForeground
// 	•	--vscode-statusBarItem.activeForeground
// 	•	--vscode-statusBarItem.prominentHoverForeground
// 	•	--vscode-statusBarItem.prominentActiveForeground
// 	•	--vscode-statusBarItem.prominentForeground
// 	•	--vscode-statusBarItem.foreground
// 	•	--vscode-statusBarItem.hoverForeground
// 	•	--vscode-statusBarItem.activeForeground
// 	•	--vscode-statusBarItem.prominentHoverForeground
// 	•	--vscode-statusBarItem.prominentActiveForeground
// 	•	--vscode-statusBarItem.prominentForeground
// 	•	--vscode-statusBarItem.foreground
// 	•	--vscode-statusBarItem.hoverForeground
// 	•	--vscode-statusBarItem.activeForeground
// 	•	--vscode-statusBarItem.prominentHoverForeground
// 	•	--vscode-statusBarItem.prominentActiveForeground
// 	•	--vscode-statusBarItem.prominentForeground
// 	•	--vscode-statusBarItem.foreground
// 	•	--vscode-statusBarItem.hoverForeground
// 	•	--vscode-statusBarItem.activeForeground
// 	•	--vscode-statusBarItem.prominentHoverForeground
// 	•	--vscode-statusBarItem.prominentActiveForeground
// 	•	--vscode-statusBarItem.prominentForeground
// 	•	--vscode-statusBarItem.foreground
// 	•	--vscode-statusBarItem.hoverForeground
// 	•	--vscode-statusBarItem.activeForeground
// 	•	--vscode-statusBarItem.prominentHoverForeground
// 	•	--vscode-statusBarItem.prominentActiveForeground
// 	•	--vscode-statusBarItem.prominentForeground
// 	•	--vscode-statusBarItem.foreground
// 	•	--vscode-statusBarItem.hoverForeground
// 	•	--vscode-statusBarItem.activeForeground
// 	•	--vscode-statusBarItem.prominentHoverForeground
// 	•	--vscode-statusBarItem.prominentActiveForeground
// 	•	--vscode-statusBarItem.prominentForeground
// 	•	--vscode-statusBarItem.foreground
// 	•	--vscode-statusBarItem.hoverForeground
// 	•	--vscode-statusBarItem.activeForeground
// 	•	--vscode-statusBarItem.prominentHoverForeground
// 	•	--vscode-statusBarItem.prominentActiveForeground
// 	•	--vscode-statusBarItem.prominentForeground
// 	•	--vscode-statusBarItem.foreground
// 	•	--vscode-statusBarItem.hoverForeground
// 	•	--vscode-statusBarItem.activeForeground
// 	•	--vscode-statusBarItem.prominentHoverForeground
// 	•	--vscode-statusBarItem.prominentActiveForeground
// 	•	--vscode-statusBarItem.prominentForeground
// 	•	--vscode-statusBarItem.foreground
// 	•	--vscode-statusBarItem.hoverForeground
// 	•	--vscode-statusBarItem.activeForeground
// 	•	--vscode-statusBarItem.prominentHoverForeground
// 	•	--vscode-statusBarItem.prominentActiveForeground
// 	•	--vscode-statusBarItem.prominentForeground
// 	•	--vscode-statusBarItem.foreground
// 	•	--vscode-statusBarItem.hoverForeground
// 	•	--vscode-statusBarItem.activeForeground
// 	•	--vscode-statusBarItem.prominentHoverForeground
// 	•	--vscode-statusBarItem.prominentActiveForeground
// 	•	--vscode-statusBarItem.prominentForeground
// 	•	--vscode-statusBarItem.foreground
// 	•	--vscode-statusBarItem.hoverForeground
// 	•	--vscode-statusBarItem.activeForeground
// 	•	--vscode-statusBarItem.prominentHoverForeground
// 	•	--vscode-statusBarItem.prominentActiveForeground
// 	•	--vscode-statusBarItem.prominentForeground
// 	•	--vscode-statusBarItem.foreground
// 	•	--vscode-statusBarItem.hoverForeground
// 	•	--vscode-statusBarItem.activeForeground
// 	•	--vscode-statusBarItem.prominentHoverForeground
// 	•	--vscode-statusBarItem.prominentActiveForeground
// 	•	--vscode-statusBarItem.prominentForeground
// 	•	--vscode-statusBarItem.foreground
// 	•	--vscode-statusBarItem.hoverForeground
