.popup {
  .button {
    padding: 0;
    background: transparent;
    height: auto;
    margin: 0;
    background: var(--vscode-editorWidget-border);
    padding: 2px 5px;
    text-transform: none;
    &:hover {
      background: var(--vscode-editorWidget-border);
    }
  }
}
#popup-popper {
  .MuiPaper-root {
    background: var(--vscode-input-background);
    border: 1px solid var(--vscode-commandCenter-inactiveBorder, #555555);
  }
}
